* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

body {
  background-color: white;
  font-family: Roboto, Arial, sans-serif;
  overflow: hidden;
  display: flex;
}

.wrapper {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.text {
  margin-right: 50px;
  
}

h1 {
  font-size: 32px;
  letter-spacing: 0px;
  margin: 10px 0;
  color: #6a5acd;
}

p {
  font-size: 18px;
  color: #6a5acd;
}

img {
  height: 250px;
  transform: scaleX(-1);
}

.squares li.up {
  width: 50px;
  height: 50px;
  background: rgba(106,90,205,0.2);
  display: block;
  position: absolute;
  bottom: -50px;
  animation: up 8s infinite alternate;
  border-radius: 4px;
}

.squares li.down {
  width: 50px;
  height: 50px;
  background: rgba(106,90,205,0.2);
  display: block;
  position: absolute;
  top: -50px;
  animation: down 5s infinite alternate;
  border-radius: 4px;
}

@keyframes up {
  from{
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(-500px) rotate(360deg);
  }
}

@keyframes down {
  from{
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(500px) rotate(360deg);
  }
}